
/* SIDE BUTTONS (LEFT SIDEBAR) */

.side-button-container {
    /* Increase the padding so the buttons are aligned in the center */
    padding-left: 30px;
}

.ie7 .side-button-container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.ie8 .side-button-container {
    margin: 0;
    padding-left: 25px;
    padding-right: 0;
}

.side-button {
    background: url("../images/wllp_side_buttons.png") no-repeat top left;
    display: block;
    height: 100px;
    width: 100px;
    border: 0;
    /* Set a bottom margin so the buttons roughly align with the video player */
    margin: 0 auto 10px auto;
}

.side-button:hover {
    background-position-x: -100px;
}

.side-button:active {
    background-position-x: -200px;
}

.side-button--button1 {
    background-position: 0 0;
}
.side-button--button2 {
    background-position: 0 -100px;
}
.side-button--button3 {
    background-position: 0 -200px;
}
.side-button--button4 {
    background-position: 0 -300px;
}
.side-button--button5 {
    background-position: 0 -400px;
}

/* IE 7 & 8 Button Rules*/
.ie7 .side-button, 
.ie8 .side-button {
    background: url("../images/wllp_side_buttons_sm.png") no-repeat top left;
    height: 70px;
    width: 70px;
    margin: 0 auto 0 auto;
}

.ie7 .side-button--button1,
.ie8 .side-button--button1 {
    background-position: 0 0;
}
.ie7 .side-button--button2,
.ie8 .side-button--button2 {
    background-position: 0 -70px;
}
.ie7 .side-button--button3,
.ie8 .side-button--button3 {
    background-position: 0 -140px;
}
.ie7 .side-button--button4,
.ie8 .side-button--button4 {
    background-position: 0 -210px;
}
.ie7 .side-button--button5,
.ie8 .side-button--button5 {
    background-position: 0 -280px;
}

.ie7 .side-button--button1:hover,
.ie8 .side-button--button1:hover {
    background-position: -70px 0;
}
.ie7 .side-button--button2:hover,
.ie8 .side-button--button2:hover {
    background-position: -70px -70px;
}
.ie7 .side-button--button3:hover,
.ie8 .side-button--button3:hover{
    background-position: -70px -140px;
}
.ie7 .side-button--button4:hover,
.ie8 .side-button--button4:hover {
    background-position: -70px -210px;
}
.ie7 .side-button--button5:hover,
.ie8 .side-button--button5:hover {
    background-position: -70px -280px;
}

@media (max-width: 1480px) {
    .side-button-container {
        margin-top: 0;
    }

    .side-button{
        height: 70px;
        width: 70px;
        background-size: 210px 350px;
        margin: 0 auto 4px auto;
    }

    .side-button:hover {
        background-position-x: -70px;
    }

    .side-button:active {
        background-position-x: -140px;
    }

    .side-button--button1 {
        background-position: 0 0;
    }
    .side-button--button2 {
        background-position: 0 -70px;
    }
    .side-button--button3 {
        background-position: 0 -140px;
    }
    .side-button--button4 {
        background-position: 0 -210px;
    }
    .side-button--button5 {
        background-position: 0 -280px;
    }
}

@media (max-width: 991px) {
    .side-button {
        background-size: 162px 270px;
        width: 54px;
        height: 54px;
        margin: 0 auto 0 auto;
    }

    .side-button:hover {
        background-position-x: -54px;
    }
    .side-button:active {
        background-position-x: -108px;
    }
    .side-button--button1 {
        background-position: 0 0;
    }
    .side-button--button2 {
        background-position: 0 -54px;
    }
    .side-button--button3 {
        background-position: 0 -108px;
    }
    .side-button--button4 {
        background-position: 0 -162px;
    }
    .side-button--button5 {
        background-position: 0 -216px;
    }

}

/* PROMOS (RIGHT SIDEBAR) */

.promos-container {
    /* Increase the padding so the buttons are aligned in the center */
    /*padding-right: 54px;*/
}

.ie7 .promos-container {
    position: absolute;
    right: -15px;
}

.promo {
    display: block;
    width: 130px;
    height: 260px;
    margin: 0 auto;
    background: #fff url("../images/wllp_promo.png") no-repeat top left;
    background-size: cover;
}

.promo:hover {
    background-position: -130px 0;
}

.promo__top {
    margin-bottom: 20px;
}

.ie7 .promo__top,
.ie8 .promo__top {
    margin-bottom: 7px;
}

.ie7 .promo,
.ie8 .promo {
    background: #fff url("../images/wllp_prom_sm.png") no-repeat top left;
    width: 85px;
    height: 170px;
}

.ie7 .promo:hover,
.ie8 .promo:hover {
    background-position: -85px 0;
}

@media (max-width: 1480px) {

    .promo {
        width: 85px;
        height: 170px;
    }

    .promo:hover {
        background-position: -85px 0px;
    }

    .promo__top {
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .promo {
        width: 65px;
        height: 130px;
    }

    .promo__top {
        margin-bottom: 11px;
    }
}
