
/* TIMELINE */

.timeline-wrapper {
    font-family: 'PrecisionSans_Regular';
    margin: 30px 0 0 0;
    height: 50px;
    line-height: 50px;
    background: #fff url("../images/wllp_timeline_background.png") repeat-x center center;
    font-weight: bold;
    text-align: center;
    color: #2e2e2e;
    position: relative;
    min-width: 722px;
}

.timeline-cover {
     cursor: not-allowed;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 4000;
     background: #eee url("../images/wllp_timeline_hover.png") top left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 */
    filter: alpha(opacity=30); /* IE5-7 */
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
 }

.timeline-cover-playhead {
    cursor: not-allowed;
    height: 70px;
    left: 0;
    position: absolute;
    top: -20px;
    width: 100%;
    z-index: 4001;
}

.timeline-progress {
    background: url("../images/wllp_timeline_hover.png") top left;
    position: absolute;
    width: 0;
    height: 100%;
}

.timeline-progress-hover {
    position: absolute;
    background: url("../images/wllp_timeline_hover.png") top left;
    width: 0;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE8 */
    filter: alpha(opacity=70); /* IE5-7 */
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.timeline-indicator {
    position: absolute;
    right: -8px;
    bottom: 0;
    height: 70px;
    width: 16px;
    background: url("../images/wllp_timeline_marker.png") no-repeat top left;
    cursor: pointer;
    z-index: 3000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE8 */
    filter: alpha(opacity=70); /* IE5-7 */
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.full-opacity {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE8 */
    filter: alpha(opacity=100); /* IE5-7 */
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.ie7 .timeline-indicator {
    right: -10px;
}

.timeline-indicator:hover {
    background-position: -16px 0;
}

.ie7 .timeline-progress {
    left: 0px;
}

.ie7 .timeline-progress-hover {
    left: 0px;
}

/* VIDEO CONTROL BUTTONS */

.timeline-buttons-container {
    padding: 0;
}

.timeline-control-button-container {
    margin-top: 12px;
}

.timeline-control-button {
    background: url("../images/wllp_timeline_controls.png") no-repeat bottom left;
    background-position: 0 0;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0 auto;
}

/* Back Button */
.timeline-control-button__back {
    background-position: 0 0;
}
.timeline-control-button__back:hover,
.timeline-control-button__back:active {
    background-position: 0 -25px;
}
/* Play/Pause Button*/
.timeline-control-button__play-pause.play {
    background-position: -50px 0;
}
.timeline-control-button__play-pause.play:hover,
.timeline-control-button__play-pause.play:active {
    background-position: -50px -25px;
}
.timeline-control-button__play-pause.pause {
    background-position: -25px 0;
}
.timeline-control-button__play-pause.pause:hover,
.timeline-control-button__play-pause.pause:active {
    background-position: -25px -25px;
}
/* Forward Button*/
.timeline-control-button__forward {
    background-position: -75px 0;
}
.timeline-control-button__forward:hover,
.timeline-control-button__forward:active {
    background-position: -75px -25px;
}
/* Volume Button */
.timeline-control-button__volume {
    background-position: -125px 0;
    margin-bottom: -7px;
}
.timeline-control-button__volume:hover,
.timeline-control-button__volume:active {
    background-position: -125px -25px;
}

/* Settings buttons*/
.timeline-control-button__settings {
    background-position: -200px 0;
}
.timeline-control-button__settings:hover,
.timeline-control-button__settings:active {
    background-position: -200px -25px;
}
.timeline-control-button__settings.hd {
    background-position: -225px 0;
}
.timeline-control-button__settings.hd:hover,
.timeline-control-button__settings.hd:active {
    background-position: -225px -25px;
}

/* Full Screen button*/
.timeline-control-button__fullscreen {
    background-position: -100px 0;
}
.timeline-control-button__fullscreen:hover,
.timeline-control-button__fullscreen:active {
    background-position: -100px -25px;
}

/* Quality buttons*/
.timeline-control-button__quality {
    background-position: -175px 0;
    margin-bottom: -8px;
}
.timeline-control-button__quality:hover,
.timeline-control-button__quality:active {
    background-position: -175px -25px;
}
.timeline-control-button__quality.hd {
    background-position: -175px 0;
}
.timeline-control-button__quality.sd {
    background-position: -175px -50px;
}

/* CHAPTER BUTTONS */

.timeline-chapter-buttons {
    display: block;
    padding: 0;
    border-right: 1px solid #666;
}

.chapter-button {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px solid #666;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

.ie7 .chapter-button {
    border-right: 0px solid #666;
    border-left: 0px solid #666;
}

/* The widths of the buttons must add up to 100% */
.chapter-button__introduction {
    width: 17%;
}
.chapter-button__chapter1 {
    width: 16%;
}
.chapter-button__chapter2 {
    width: 17%;
}
.chapter-button__chapter3 {
    width: 17%;
}
.chapter-button__chapter4 {
    width: 16%;
}
.chapter-button__thanks {
    width: 17%;
}
.ie7 .chapter-button__thanks {
    width: 16%;
}

/* VOLUME SLIDER */

.timeline-control-volume-container {
    padding: 12px 0 0 0;
    display: inline-block;
}

/* Display the approximate volume state in the volume icon */
.timeline-control-button__volume.volume-0 {
    background-position: -250px 0;
}
.timeline-control-button__volume.volume-1 {
    background-position: -275px 0;
}
.timeline-control-button__volume.volume-2 {
    background-position: -300px 0;
}
.timeline-control-button__volume.volume-3 {
    background-position: -325px 0;
}

.timeline-control-volume__popout {
    position: absolute;
    top: -106px;
    right: 20px;
    background: url("../images/wllp_volume_background.png") no-repeat top center;
    height: 106px;
    width: 32px;
    border-bottom: none;
    cursor: default;
    display: none;
}

@media (max-width: 1199px) {
    .timeline-control-volume__popout {
        right: 15px;
    }
}

@media (max-width: 991px) {
    .timeline-control-volume__popout {
        right: 10px;
    }
}

.timeline-control-volume.open .timeline-control-volume__popout {
    display: block;
}

.timeline-control-volume__popout-bg {
    position: absolute;
    bottom: 10px;
    right: 11px;
    height: 80px;
    width: 10px;
    cursor: pointer;
}

.timeline-control-volume__popout-bg-selected-volume {
    position: absolute;
    bottom: 10px;
    right: 6px;
    width: 20px;
    height: 40px;
    cursor: pointer;
    margin: 0;
    background: url("../images/wllp_volume_slider.png") no-repeat bottom center;
}

.timeline-control-volume__popout-ball {
    position: absolute;
    top: -10px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: url("../images/wllp_volume-knob.png") no-repeat top left;
    cursor: pointer;

    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.6);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.6);
}

.ie8 .timeline-control-volume__popout {
    right: 10px;
}

.ie7 .timeline-control-volume__popout {
    right: 10px;
}

.ie7 .timeline-control-volume__popout-bg-selected-volume {
    right: 6px;
}

.ie7 .timeline-control-volume__popout-ball {
    right: 0;
}

/* Buffer Bar*/
.buffer-container {
    position: absolute;
    height: 100%;
}

.ie7 .buffer-container {
    right: 0px;
}

.buffer-section {
    display: inline-block;
    position: relative;
    float: left;
    height: 100%;

}

.buffer-section-inner {
    height: 100%;
    width: 0%;
}